body {
  font-family: Fira Sans;
}

body > div.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 30rem;
  gap: 10px; 
}

body > div.buttons > div.btn {
  width: max-content;
  margin: 0 auto;
}

body > div.logo > img {
  margin: 30px;
  width: 150px;
  height: 90px;
}

h3.tags {
  margin-top: 10px;
}
